{% extends "base.html" %} {% load static %} {% block content %}

<div class="bottom">
  <div class="desc">
    <p>
      OnlyEat is a modern and innovative restaurant that takes dining to a whole
      new level. Nestled in the heart of the city, this culinary haven is
      renowned for its minimalist yet inviting ambiance. The restaurant's
      concept revolves around a simple and straightforward menu, focusing on
      delivering an exceptional dining experience with a limited selection of
      dishes that are meticulously crafted to perfection.
    </p>
  </div>
  <div class="img">
    <img src="{% static 'food.jpg' %}" alt="" />
  </div>
</div>

{% endblock %}
